<% content_for(:title) do %>
 Describe your favorite restaurant
<% end %>
<% content_for(:description) do %>
  Decriver le nom, l'addresse et toutes les infos du resto
<% end %>



<h1>Création d'un resto</h1>

<%= form_for(@restaurant, html: {class: "form-inline"}) do |f| %>
  <% if @restaurant.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @restaurant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.label :name %>
  <%= f.text_field :name, placeholder: 'name...' %>

  <%= f.label :address %>
  <%= f.text_field :address %>

  <%= f.label :phone %>
  <%= f.text_field :phone %>

  <%= f.label :category %>
  <%= f.select :category, ["chinese", "italian", "japanese", "french", "belgian"] %>


  <%= f.submit 'add resto' , class: 'btn btn-danger'%>
<% end %>
