<% content_for(:title) do %>
  <%= @restaurant.name %> is on La Cuillere
<% end %>
<% content_for(:description) do %>
  Voici les infos et les commentaire sur <%= @restaurant.name %>
<% end %>


<h1><%= @restaurant.name %></h1>

<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone %></p>

<% @restaurant.reviews.each do |review| %>
  <%= review.content %>
  <%= review.rating %>
<% end %>

<%= form_for([@restaurant, @new_review], html: {class: "form-inline"}) do |f| %>
  <p>
    <%= f.label :content %>
    <%= f.text_field :content, placeholder: 'write a description...' %>
    <%= f.hidden_field :restaurant_id, value: @restaurant.id %>
  </p>

  <p>
    <%= f.label :rating %>
   <%= f.select :rating, [0,1,2,3,4,5] %>
  </p>

  <p>
    <%= f.submit 'add resto' , class: 'btn btn-info'%>
  </p>
<% end %>

<%= link_to "Restaurant list", restaurants_path %>
