<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : "La Cuillere" %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <meta name="description"
        content="<%= (yield(:description) || "").squish %>">

</head>
<body>
  <%= render 'shared/navbar' %>
  <div class='alert alert-sucess'>
    <%= flash[:notice] %>
  </div>

  <%= yield %>
<div>
  <%= render 'shared/footer' %>
</div>

</body>
</html>
